.gumik-kep {
    width: 40px;
    height: 40px;
}
.szegely::before {
    height: 10px;
    display: inline;
    width: 60%;
    border-bottom-style: solid;
}
#beallitasok_lap {
    margin-top: 60px;
}