.alap {
    padding: 0;
    width: 100%;
}
.fejlec {
    padding: 0;
    margin: 0;
    position: fixed;
    display: flex;
    width: 100%;
    min-height: 170px;
    background-color: white;
}
.menusor {
    background-color: black;
    height: 95px;
    margin: 0;
}
::part(splitter) {
    visibility: collapse;
}
::part(back-button), ::part(forward-button) {
    color: #75f3f9;
}

.jobb-fejlec-kep {
    height: 170px;
    margin: 0;
}
.bal-fejlec-kep {
    height: 95px;
    margin: 0;
}
.szolgaltatas-sorok {
    margin-top: 20px;
}
vaadin-app-layout {
    background-color: transparent;
    --lumo-base-color: transparent;
    height: 95px;
}
@media (min-width: 850px) {
    .nyitvatartas {
        min-width: 200px;
        margin-top: 50px;
        width: inherit;
    }
    vaadin-app-layout vaadin-tab {
        --lumo-font-size-m: var(--lumo-font-size-xs);
        --lumo-icon-size-m: 1.5rem;
        padding-left: .75em;
        padding-right: .75em;

    }
    .infosav {
        align-items: center;
    }
    .tartalom {
        width: 100%;
        align-items: center;
        margin-top: 95px;
    }
}
@media (max-width: 1200px) {
    .tartalom {
        width: 100%;
        align-items: center;
        margin-top: 150px;
    }
    body {
        --lumo-space-m: 0;
    }
}
@media (max-width: 850px) {
    .nyitvatartas {
        min-width: 200px;
        margin-top: 30px;
        width: inherit;
        position: absolute;
    }
    vaadin-app-layout vaadin-tabs{
        top: 0;
        background-color: black;
        --lumo-font-size-m: var(--lumo-font-size-xs);
        --lumo-icon-size-m: 1.5rem;
        text-align: center;
    }
    vaadin-app-layout {
        background-color: black;
        height: 52px;
    }
    .menusor {
        width: 100%;
        height: 109px;
    }
    body {
        --lumo-space-m: 0;
    }
    .jobb-fejlec-kep {
        margin: 52px 0 0;
        height: 102px;
    }
    .bal-fejlec-kep {
        margin: 52px 0 0;
        height: 57px;
    }
    .infosav {
        align-items: center;
        margin-top: 50px;
        min-width: 150px;
    }
    .tartalom {
        width: 100%;
        align-items: center;
        margin-top: 150px;
    }
}
@media (max-width: 520px) {
    .nyitvatartas {
        top: 90px;
        min-width: 0;
    }
    .infosav {
        min-width: 0;
    }
    .fejlec {
        min-width: 400px;
    }
}


