vaadin-button img {
    max-width: 120px;
    max-height: 120px;
}
vaadin-button iron-icon {
    width: 100px;
    height: 100px;
    color: #7f7f7f;
}
#kep-button-uj {
    background: black;
}
vaadin-text-field::slotted(span) {
    font-weight: bold;
    color: #75f3f9;
}
#gumik-sor {
    margin-bottom: 30px;
    margin-top: 0;
    background-color: black;
    height: 160px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
#kepHelye {
    align-self: center;
    padding: 0;
    width: 200px;
    height: 160px;
}
#kepHelye vaadin-button {
    padding: 0;
    margin: 36px 0 0;
    align-self: center;
    width: 120px;
    height: 120px;
}
#leirasHelye1 {
    width: 200px;
    background-color: #7f7f7f;
    margin: 20px 0;
    padding: 0 0 0 20px;
    height: 120px;
    border-top-left-radius: 20px;
}
#gyarto-label {
    margin: 20px 0 0;
    font-weight: bold;
    font-size: larger;
    color: yellow;
}
#meret-label {
    margin-top: 0;
    color: #75f3f9;
}
#evszak-label {
    margin: 0;
    color: #75f3f9;
}
#allapot-label {
    margin: 0;
    color: #75f3f9;
}
#leirasHelye2 {
     width: 150px;
     align-items: center;
     background-color: #7f7f7f;
     margin: 20px 0;
     padding: 0;
     height: 120px;
}
#keszlet-label {
    margin-top: 30px;
    color: #75f3f9;
}
#ar-label {
    margin-top: 40px;
    font-weight: bold;
    font-size: larger;
    color: #75f3f9;
}
#megrendelesHelye {
    padding: 0;
    width: 150px;
    align-items: flex-end;
    color: #75f3f9;
    background-color: #7f7f7f;
    height: 120px;
    margin: 20px 0;
}
#darab-mezo {
    padding: 0;
    width: 50px;
    margin: 10px 0 0;
    border-radius: 0;
    color: #75f3f9;
    background-color: black;
    text-align-last: center;
}
#csokkent, #novel {
    padding: 0;
    margin: 10px 0 0;
    width: 30px;
    min-width: 30px;
    border-radius: 0;
    background-color: black;
}
#csokkent {
    color: red;
}
#novel {
    color: green;
}
#darabszamHiba-label {
    padding: 0;
    margin: 0;
    color: red;
    font-weight: bold;
    font-size: smaller;
    height: 20px;
}
#kosarba {
    margin-top: 30px;
    background-color: black;
    color: #75f3f9;
}
#sorvege {
    padding: 0 20px 0 0;
    width: 150px;
    align-items: flex-end;
    color: #75f3f9;
    background-color: #7f7f7f;
    height: 120px;
    margin: 20px 20px 20px 0;
    border-bottom-right-radius: 20px;
}
#torol-ikon {
    position: inherit;
    margin-top: 40px;
    height: 30px;
    color: red;
}
#szerkeszt-ikon {
    position: inherit;
    margin-top: 20px;
    height: 30px;
    color: green;
}
/******Szerkesztő sor CSS****/
#gumik-sor-szerkesztes {
    margin-bottom: 30px;
    margin-top: 0;
    background-color: black;
    height: 300px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
#kepHelye-szerkesztes {
    align-self: center;
    padding-top: 0;
    width: 250px;
    height: 300px;
}
#leirasHelye1-szerkesztes {
    width: 250px;
    background-color: #7f7f7f;
    margin: 20px 0;
    padding: 0 0 0 20px;
    height: 260px;
    border-top-left-radius: 20px;
}
#gyarto-szerkesztes::part(label) {
    color: #75f3f9;
}
#gyarto-szerkesztes, #gyarto-uj-elem {
    font-weight: bold;
    font-size: larger;
    color: yellow;
    width: 200px;
}
#gyarto-szerkesztes {
    margin: 30px 0 0;
}
#gyarto-uj-elem {
    margin: 15px 0 0;
}
#meret-szerkesztes {
    align-items: center;
}
#meret-szerkesztes vaadin-text-field::part(label) {
    padding-top: 0;
    color: #75f3f9;
}
#meret-szerkesztes vaadin-text-field {
    padding: 0;
    color: #75f3f9;
    width: 50px;
    font-size: small;
}
#meretKiegeszites {
    color: #75f3f9;
}
#leirasHelye2-szerkesztes {
    width: 200px;
    align-items: flex-end;
    background-color: #7f7f7f;
    margin: 20px 0;
    padding: 0;
    height: 260px;
}
#keszletSor-szerkesztes {
    align-items: center;
    margin-top: 0;
}
#darab-szerkesztes, #darab-uj-elem {
    margin-left: 20px;
    color: #75f3f9;
    width: 70px;
}
#darab-szerkesztes {
    margin-top: 30px;
}
#darab-uj-elem {
    margin-top: 16px;
    align-self: flex-end;
}
#ar-szerkesztes, #ar-uj-elem {
    width: 120px;
    color: #75f3f9;
    align-self: flex-end;
}
#ar-szerkesztes {
    margin: 128px 0 0;
}
#ar-uj-elem {
    margin-top: 16px;
    padding: 0;
    align-self: flex-end;
}
#sorvege-szerkesztes {
    padding: 0 20px 0 0;
    width: 100px;
    align-items: flex-end;
    color: #75f3f9;
    background-color: #7f7f7f;
    height: 260px;
    margin: 20px 20px 20px 0;
    border-bottom-right-radius: 20px;
}
#mentes-ikon {
    position: inherit;
    margin-top: 140px;
    height: 30px;
    color: green;
}
#combobox-szerkesztes::part(text-field), #combobox-szerkesztes::part(clear-button), #combobox-szerkesztes::part(toggle-button) {
    color: #75f3f9;
}
vaadin-combo-box-overlay::part(content) {
    background-color: #7f7f7f;
    color: #75f3f9;
}
#darab-szerkesztes span, #ar-szerkesztes span, #darab-uj-elem span, #ar-uj-elem span {
    color: #75f3f9;
}
#kepfeltolto, #kepfeltolto::part(drop-label-icon), #kepfeltolto::part(drop-label), #kepfeltolto-uj, #kepfeltolto-uj::part(drop-label-icon), #kepfeltolto-uj::part(drop-label) {
    color: #75f3f9;
}
#kepfeltolto-uj {
    margin: 0;
    padding: 5px;
}
/******Uj gumi sor CSS****/

#uj-mentes-ikon {
    color: green;
    align-self: center;
    margin-top: 60px;
    width: 35px;
    height: 35px;
}
#uj-elem-felvetele-sor {

}