vaadin-button img {
    max-width: 140px;
    max-height: 140px;
}
vaadin-button iron-icon {
    width: 100px;
    height: 100px;
    color: #7f7f7f;
}
.gumik-sor {
    margin-bottom: 30px;
    margin-top: 0;
    background-color: black;
    height: 160px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
#kepHelye {
    align-self: center;
    padding: 0;
    width: 200px;
    height: 160px;
}
#kepHelye vaadin-button {
    padding: 0;
    margin: 26px 0 0;
    align-self: center;
    width: 140px;
    height: 140px;
}
#leirasHelye1 {
    width: 200px;
    background-color: #7f7f7f;
    margin: 20px 0;
    padding: 0 0 0 20px;
    height: 120px;
    border-top-left-radius: 20px;
}
#gyarto-label {
    margin: 20px 0 0;
    font-weight: bold;
    font-size: larger;
    color: yellow;
}
#meret-label {
    margin: 0;
    color: #75f3f9;
}
#evszak-label {
    margin: 0;
    color: #75f3f9;
}
#allapot-label {
    margin: 0;
    color: #75f3f9;
}
#leirasHelye2 {
    width: 150px;
    align-items: center;
    background-color: #7f7f7f;
    margin: 20px 0;
    padding: 0;
    height: 120px;
}
#keszlet-label {
    margin-top: 30px;
    color: #75f3f9;
}
#ar-label {
    margin-top: 40px;
    font-weight: bold;
    font-size: larger;
    color: #75f3f9;
}
#megrendelesHelye {
    padding: 0;
    width: 150px;
    align-items: flex-end;
    color: #75f3f9;
    background-color: #7f7f7f;
    height: 120px;
    margin: 20px 0;
}
#darab-mezo {
    padding: 0;
    width: 50px;
    margin: 10px 0 0;
    border-radius: 0;
    color: #75f3f9;
    background-color: black;
    text-align-last: center;
}
#csokkent, #novel {
    padding: 0;
    margin: 10px 0 0;
    width: 30px;
    min-width: 30px;
    border-radius: 0;
    background-color: black;
}
#csokkent {
    color: red;
}
#novel {
    color: green;
}
#darabszamHiba-label {
    padding: 0;
    margin: 0;
    color: red;
    font-weight: bold;
    font-size: smaller;
    height: 20px;
}
#kosarba {
    margin-top: 30px;
    background-color: black;
    color: white;
}
#sorvege {
    padding: 0 20px 0 0;
    width: 150px;
    align-items: flex-end;
    color: #75f3f9;
    background-color: #7f7f7f;
    height: 120px;
    margin: 20px 20px 20px 0;
    border-bottom-right-radius: 20px;
}
#torol-ikon {
    margin-top: 40px;
    height: 30px;
}
#szerkeszt-ikon {
    margin-top: 20px;
    height: 30px;
}