.gumitabla {
    line-height: 80px;
}
vaadin-grid vaadin-grid-header {
    font-size: 20px;
}
vaadin-grid-cell-content img {
    max-height: 80px;
    max-width: 80px;
    line-height: 80px;
    vertical-align: middle;
}
.szegely::before {
    height: 10px;
    display: inline;
    width: 60%;
    border-bottom-style: solid;
}