vaadin-button img {
    max-width: 140px;
    max-height: 140px;

}
vaadin-button iron-icon {
    width: 100px;
    height: 100px;
}
.gumik-sor {
    margin-bottom: 30px;
    margin-top: 0;
    background-color: black;
    height: 160px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
#kepHelye {
    align-self: center;
    padding: 0;
    width: 200px;
    height: 160px;
}
#kepHelye vaadin-button {
    padding: 0;
    margin: 26px 0 0;
    align-self: center;
    width: 140px;
    height: 140px;
}
#leirasHelye1 {
    width: 200px;
    background-color: #7f7f7f;
    margin: 20px 0;
    padding: 0 0 0 20px;
    height: 120px;
    border-top-left-radius: 20px;
}
#gyarto-label {
    margin: 20px 0 0;
    font-weight: bold;
    font-size: larger;
    color: yellow;
}
#meret-label {
    margin: 0;
    color: #75f3f9;
}
#evszak-label {
    margin: 0;
    color: #75f3f9;
}
#allapot-label {
    margin: 0;
    color: #75f3f9;
}
#leirasHelye2 {
    width: 150px;
    align-items: center;
    background-color: #7f7f7f;
    margin: 20px 0;
    padding: 0;
    height: 120px;
}
#keszlet-label {
    margin-top: 30px;
    color: #75f3f9;
}
#ar-label {
    margin-top: 40px;
    font-weight: bold;
    font-size: larger;
    color: #75f3f9;
}
#vasarlashelye {
    padding: 0 20px 0 0;
    width: 150px;
    align-items: flex-end;
    color: #75f3f9;
    background-color: #7f7f7f;
    height: 120px;
    margin: 20px 20px 20px 0;
    border-bottom-right-radius: 20px;
}
#darab-mezo {
    padding: 0;
    width: 50px;
    margin: 10px 0 0;
    border-radius: 0;
    color: #75f3f9;
    background-color: black;
    text-align-last: center;
}
#csokkent, #novel {
    padding: 0;
    margin: 10px 0 0;
    width: 30px;
    min-width: 30px;
    border-radius: 0;
    background-color: black;
}
#csokkent {
    color: red;
 }
#novel {
    color: green;
}
#kosarba {
    margin-top: 30px;
    background-color: black;
    color: white;
}




/*A grides verzióhoz tartozik*/
.gumik-kep {
    width: 40px;
    height: 40px;
}
.gumitabla {
    line-height: 80px;
}
vaadin-grid vaadin-grid-header {
    font-size: 20px;
}
vaadin-grid-cell-content img {
    max-height: 80px;
    max-width: 80px;
    line-height: 80px;
    vertical-align: middle;
}
.szegely::before {
    height: 10px;
    display: inline;
    width: 60%;
    border-bottom-style: solid;
}
vaadin-grid {
    margin-bottom: 50px;
    align-self: center;
}
@media (max-width: 1200px) {
    vaadin-grid {
        font-size: small;
        width: 100%;
    }

    vaadin-grid vaadin-grid-header {
        font-size: small;
    }

    .gumitabla {
        line-height: 40px;
    }

    vaadin-grid-cell-content img {
        max-height: 40px;
        max-width: 40px;
        line-height: 40px;
        vertical-align: middle;
    }

    vaadin-button {
        font-size: small;
        margin: 10px;
    }

    vaadin-text-field {
        font-size: small;
        margin: 10px;
    }

    vaadin-combo-box {
        margin: 0;
        font-size: small;
    }

    ::part(text-field), vaadin-text-field {
        width: 9em;
        font-size: var(--lumo-font-size-s);
        margin: 10px;
    }
}
@media (max-width: 850px) {
    vaadin-grid {
        font-size: x-small;
        width: 100%;
    }

    vaadin-grid vaadin-grid-header {
        font-size: x-small;
    }

    .gumitabla {
        line-height: 30px;
    }

    vaadin-grid-cell-content img {
        max-height: 30px;
        max-width: 30px;
        line-height: 30px;
        vertical-align: middle;
    }

    vaadin-button {
        font-size: x-small;
    }

    vaadin-text-field {
        font-size: x-small;
    }

    ::part(text-field), vaadin-text-field {
        width: 9em;
        font-size: var(--lumo-font-size-xs);
        margin: 10px;
    }

    vaadin-button {
        margin: 10px;
    }

    vaadin-combo-box {
        font-size: x-small;
    }
}
@media (max-width: 520px) {
    vaadin-grid {
        font-size: x-small;
        width: 100%;
    }

    vaadin-grid-column {
        max-width: 40px;
    }

    vaadin-grid vaadin-grid-header {
        font-size: x-small;
    }

    .gumitabla {
        line-height: 20px;
    }

    vaadin-grid-cell-content img {
        max-height: 20px;
        max-width: 20px;
        line-height: 20px;
        vertical-align: middle;
    }

    vaadin-button {
        font-size: x-small;
        margin: 10px;
    }

    ::part(text-field), vaadin-text-field {
        font-size: x-small;
        margin: 10px;
    }

    vaadin-text-field-label {
        font-size: x-small;
    }

    vaadin-label {
        font-size: x-small;
    }

}

